p {
    font-family: Open Sans, sans-serif;
    color:  #333333;
    font-size: 1.6rem;
}

h2 {
    font-family: Open Sans, sans-serif;
    color:  #333333;
    font-size: 2.2rem;
    font-weight: 600;
}

h1 {
    font-family: Open Sans, sans-serif;
    color:  #333333;
    font-size: 2.5rem;
    font-weight: 600;
}
